@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

$brandPinkColor: #f16d7f;
$brandDarkColor: #222;
$brandLightColor: #e8e8e8;

$paddingNormal: 10px;

$widthSite: 1140px;

@mixin flexParams($displayFlex, $flexDirection, $justifyContent, $alignItems) {
  display: $displayFlex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
