@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato, sans-serif; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }
  body .mainHeader,
  body .mainFooter {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  body .brandWrap,
  body .mainSection,
  body .featuredWrap,
  body .advaadvantageWrap,
  body .subscribeWrap {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.mainHeader {
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mainHeader .container {
    max-width: 1140px;
    margin: 16px 18px; }
    @media (min-width: 768px) {
      .mainHeader .container {
        margin: 18px 32px; } }
    @media (min-width: 1600px) {
      .mainHeader .container {
        margin: 18px auto;
        width: 1140px; } }

.mainHeader i {
  color: #e8e8e8;
  font-size: x-large; }

.mainPageLink {
  text-decoration: none; }

.logoOfCompany {
  margin-right: 41px; }

.hidden {
  display: none; }

@media (min-width: 768px) {
  .account {
    display: inline-block;
    margin-left: 25px;
    margin-right: 42px; } }

.cartWrap {
  position: relative; }
  .cartWrap span {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    background-color: #f16d7f;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px; }
  @media (min-width: 768px) {
    .cartWrap {
      display: inline-block; } }

.brandWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1e4e6;
  height: 363px; }
  @media (min-width: 768px) {
    .brandWrap {
      height: 368px;
      margin-bottom: 65px; } }
  @media (min-width: 1600px) {
    .brandWrap {
      height: 764px; } }

.brandNameWrap {
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222; }
  .brandNameWrap span {
    color: #f16d7f; }

.brandName {
  border-left: 12px solid #f16d7f;
  padding-left: 15px; }
  .brandName div:first-child {
    font-size: 38px;
    font-weight: 900; }
    @media (min-width: 768px) {
      .brandName div:first-child {
        font-size: 44px; } }
    @media (min-width: 1600px) {
      .brandName div:first-child {
        font-size: 48px; } }
  .brandName div:last-child {
    font-size: 20px;
    font-weight: 700; }
    @media (min-width: 768px) {
      .brandName div:last-child {
        font-size: 24px; } }
    @media (min-width: 1600px) {
      .brandName div:last-child {
        font-size: 32px; } }

@media (min-width: 768px) {
  .brandWrap > div {
    width: 50%;
    height: inherit; }

  .brandModelPicture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .brandModelPicture img {
      height: inherit;
      display: block; } }
@media (min-width: 1600px) {
  .brandNameWrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .brandName {
    margin-left: 60px; } }
.mainSection .container {
  margin: 0 auto;
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 245px) 110px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  gap: 32px;
  padding: 64px 16px; }
  @media (min-width: 768px) {
    .mainSection .container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 168px 116px;
      gap: 20px; } }
  @media (min-width: 1600px) {
    .mainSection .container {
      width: 1140px;
      grid-template-rows: 260px 180px;
      gap: 30px; } }

.mainSectionItem {
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%; }
  .mainSectionItem h1 {
    display: block;
    color: #f16d7f;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
  .mainSectionItem div {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }

.mainSectionItem-item1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url(../images/forWomenItem.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/forWomenItem.png); }

.mainSectionItem-item2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url(../images/forMenItem.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/forMenItem.png); }

.mainSectionItem-item3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url(../images/forKidsItem.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/forKidsItem.png); }

.mainSectionItem-item4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url(../images/accessoriesItem.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/accessoriesItem.png); }
  @media (min-width: 768px) {
    .mainSectionItem-item4 {
      grid-column: 1/-1; } }

.featuredWrap .container {
  max-width: 1140px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 101px repeat(6, 1fr);
  justify-items: stretch;
  gap: 16px; }
  @media (min-width: 768px) {
    .featuredWrap .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding-left: 16px;
      padding-right: 16px; } }
  @media (min-width: 1600px) {
    .featuredWrap .container {
      grid-template-columns: repeat(3, 1fr); } }

.featuredTitleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  @media (min-width: 768px) {
    .featuredTitleWrap {
      grid-column: 1/-1; } }

.allProductsBtn {
  font-size: 16px;
  font-weight: 400;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  background: #fff;
  padding: 15px 39px;
  margin: 40px auto 96px;
  text-decoration: none; }
  @media (min-width: 768px) {
    .allProductsBtn {
      grid-column: 1/-1;
      margin-top: 33px;
      margin-bottom: 65px; } }
  @media (min-width: 1600px) {
    .allProductsBtn {
      margin-top: 48px;
      margin-bottom: 95px; } }

.featuredTitle {
  color: #222;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 3px; }

.featuredSubtitle {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 65px; }

.featuredItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #f8f8f8;
  margin-left: 8px;
  margin-right: 8px; }

.featuredItemLink {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  margin-bottom: 25px;
  position: relative; }
  .featuredItemLink img {
    width: 100%;
    display: block; }

.featuredItemLink:hover .btnAddToCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.featuredItemLink:hover {
  background-color: #000;
  pointer-events: none; }
  .featuredItemLink:hover img {
    opacity: 0.5; }

.btnAddToCart {
  display: none;
  position: absolute;
  left: calc(50% - 69px);
  top: calc(50% - 22px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  border: 1px solid #fff;
  width: 138px;
  height: 44px;
  background: none; }

.btnAddToCart__icon {
  margin-right: 11px; }

.btnAddToCart__call {
  color: #fff;
  font-size: 14px;
  font-weight: 400; }

.featuredItemName {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 13px;
  padding-left: 18px;
  padding-right: 18px; }

.featuredItemDescription {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 313px; }

.featuredItemPrice {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px; }

.advantageWrap {
  background: #222224; }
  .advantageWrap .container {
    max-width: 1140px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 46px;
    padding: 48px 14px; }
    @media (min-width: 1600px) {
      .advantageWrap .container {
        grid-template-columns: repeat(3, 1fr); } }

.advantageItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fbfbfb;
  text-align: center; }
  .advantageItem img {
    height: 33px;
    width: 45px;
    margin-bottom: 23px; }

.advantageItemTitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px; }

.advantageItemDescription {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  margin-left: 14px;
  margin-right: 14px;
  max-width: 360px; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1599px) {
    .container {
      width: 100%; } }
  @media (min-width: 1600px) {
    .container .container {
      width: 1140px;
      margin: 0 auto; } }

.subscribeWrap {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(244, 244, 244, 0.7))), url(../images/subscribeBackground.png) no-repeat;
  background: linear-gradient(white, rgba(244, 244, 244, 0.7)), url(../images/subscribeBackground.png) no-repeat;
  background-size: cover; }
  .subscribeWrap .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 8px;
    padding-right: 8px; }
    @media (min-width: 1600px) {
      .subscribeWrap .container {
        width: 1140px;
        height: 448px;
        margin: 0 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .subscribeWrap .container .subscribeFeedback {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .subscribeWrap .container .subscribeForm {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .subscribeWrap .container img {
      width: 92px;
      height: 92px;
      margin-top: 64px;
      margin-bottom: 30px; }
    .subscribeWrap .container .subscribeTitle {
      color: #222224;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 153.2%; }
    .subscribeWrap .container .subscribeSubtitle {
      color: #222224;
      font-size: 14px;
      font-weight: 400;
      line-height: 153.2%;
      margin-bottom: 22px; }
  .subscribeWrap .subscribePhotoDescription {
    text-align: center;
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 59px;
    max-width: 360px; }
    .subscribeWrap .subscribePhotoDescription span {
      font-style: italic; }

.subscribeInput {
  height: 47px;
  color: #222224;
  background: #e1e1e1;
  opacity: 0.671;
  font-size: 14px;
  font-weight: 400;
  padding-left: 21px;
  float: left;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 110px; }
  @media (min-width: 1600px) {
    .subscribeInput {
      margin-bottom: 0; } }

.subscribeButton {
  border: 0;
  float: left;
  height: 47px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #f16d7f;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 7px; }

.mainFooter {
  background: #222224; }
  .mainFooter .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 768px) {
      .mainFooter .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        padding-left: 32px;
        padding-right: 32px; } }
    @media (min-width: 1600px) {
      .mainFooter .container {
        padding-left: 0;
        padding-right: 0;
        width: 1140px;
        margin: 0 auto; } }
  .mainFooter .socialsWrap i {
    color: #000;
    height: 32px;
    width: 32px;
    padding: 9px;
    margin: 40px 7px;
    background: #fff; }

.copyInfo {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 9px; }

.newArrivalsWrap {
  height: 148px;
  background-color: #f8f3f4; }
  @media (min-width: 768px) {
    .newArrivalsWrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .newArrivalsWrap .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1140px; }
    @media (min-width: 768px) {
      .newArrivalsWrap .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px; } }
    @media (min-width: 1600px) {
      .newArrivalsWrap .container {
        width: 1140px; } }
  .newArrivalsWrap a {
    text-decoration: none;
    display: block; }

.newArrivalsHeader {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 24px auto 32px;
  display: block; }
  @media (min-width: 768px) {
    .newArrivalsHeader {
      margin: 0px; } }

.newArrivalsWrap-nav__menu__ul {
  list-style-type: none;
  margin-bottom: 46px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .newArrivalsWrap-nav__menu__ul {
      margin: 0; } }

.newArrivalsWrap-nav__menu__li a {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding: 5px 2px; }

.newArrivalsWrap-nav__menu__li:last-child a {
  color: #f16d7f; }

.newArrivalsWrap-nav__menu__ul li:not(:last-child) a::after {
  content: " /"; }

.catalogPage__featuredWrap .container {
  display: grid;
  gap: 16px;
  grid-template-rows: 81px repeat(8, 1fr);
  grid-template-columns: 1fr;
  margin: 24px auto 32px; }
  @media (min-width: 768px) {
    .catalogPage__featuredWrap .container {
      grid-template-rows: 81px repeat(4, 1fr);
      grid-template-columns: 1fr 1fr; }
      .catalogPage__featuredWrap .container .catalogPage__featuredWrap_filters {
        grid-column-start: 1;
        grid-column-end: -1;
        position: relative; } }
  @media (min-width: 1600px) {
    .catalogPage__featuredWrap .container {
      grid-template-rows: 81px repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      gap: 30px; } }
  @media (min-width: 768px) {
    .catalogPage__featuredWrap .container .featuredItem {
      margin: 0; } }
  .catalogPage__featuredWrap .container .featuredItem:nth-child(4) {
    display: none; }
    @media (min-width: 1600px) {
      .catalogPage__featuredWrap .container .featuredItem:nth-child(4) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

.catalogPage__featuredWrap_filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.catalogPage__featuredWrap_filters_mainFilterButton {
  background: none;
  border: none;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .catalogPage__featuredWrap_filters_mainFilterButton span {
    display: none; }
    @media (min-width: 768px) {
      .catalogPage__featuredWrap_filters_mainFilterButton span {
        display: inline;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-right: 11px; } }

.catalogPage__featuredWrap_filters_keyFilters button {
  background: none;
  border: none;
  padding: 10px;
  margin-right: 23px; }
  .catalogPage__featuredWrap_filters_keyFilters button span {
    padding-right: 5px;
    color: #6f6e6e;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 9px; }
    @media (min-width: 350px) {
      .catalogPage__featuredWrap_filters_keyFilters button span {
        font-size: 12px;
        padding-right: 9px; } }
    @media (min-width: 768px) {
      .catalogPage__featuredWrap_filters_keyFilters button span {
        font-size: 14px; } }

.catalogPage__featuredWrap_filters_keyFilters button {
  margin-right: 0; }

.filter {
  width: 360px;
  position: absolute;
  top: 0;
  z-index: 10;
  padding-bottom: 0; }
  .filter[open] {
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }

.filter[open] .filter-summary .filter-summary__main-header {
  color: #f16d7f; }
.filter[open] .filter-summary .filter-summary__svg {
  fill: #f16d7f; }

.filter-summary {
  display: block;
  padding: 13px 255px 16px 16px; }

.filter-summary::-webkit-details-marker {
  display: none; }

.filter-summary [open] {
  color: #f16d7f; }

.filter-item__header {
  padding-left: 11px;
  border-left: 5px solid #6f6e6e;
  border-bottom: 1px solid #ebebeb;
  margin-left: 17px;
  margin-bottom: 18px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #6f6e6e; }

.filter-item[open] .filter-item__header {
  color: #f16d7f;
  border-left-color: #f16d7f; }

.filter-item [open] .filter-item__header {
  color: #f16d7f;
  border-left-color: #f16d7f; }

.filter-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
  text-transform: uppercase; }

.filter-item__header::-webkit-details-marker {
  display: none; }

.filter-item__list {
  list-style-type: none;
  padding-bottom: 24px;
  padding-left: 34px; }
  .filter-item__list li {
    padding-bottom: 11px; }
    .filter-item__list li a {
      text-decoration: none;
      color: #6f6e6e;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
      .filter-item__list li a:hover {
        color: #f16d7f; }
  .filter-item__list li:first-child {
    padding-top: 0; }
  .filter-item__list li:last-child {
    padding-bottom: 0; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 48px auto 96px;
  padding: 12px 16px 12px 16px; }
  .pagination li {
    list-style-type: none;
    display: inline; }
  .pagination li:not(:last-child) {
    margin: 0 15px 0 0; }
  .pagination li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4; }
  .pagination li a.active {
    color: #f16d7f; }
  .pagination li > a:hover {
    color: #f16d7f; }
  .pagination__icon {
    color: #222; }
    .pagination__icon:hover {
      color: #f16d7f; }

.center {
  padding-left: calc(50% -$widthSite/2);
  padding-right: calc(50% -$widthSite/2); }

/*# sourceMappingURL=style.css.map */