@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.mainHeader {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
}
@media (min-width: 768px) {
  .mainHeader {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .mainHeader {
    padding-left: 231px;
    padding-right: 231px;
  }
}

.mainHeader i {
  color: #E8E8E8;
  font-size: x-large;
}

.logoOfCompany {
  margin-right: 41px;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .account {
    display: inline-block;
    margin-left: 25px;
    margin-right: 42px;
  }
}

.cartWrap {
  position: relative;
}
.cartWrap span {
  position: absolute;
  top: -5px;
  right: -5px;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  background-color: #F16D7F;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
}
@media (min-width: 768px) {
  .cartWrap {
    display: inline-block;
  }
}

.brandWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1E4E6;
  height: 363px;
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .brandWrap {
    height: 368px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .brandWrap {
    height: 764px;
  }
}

.brandNameWrap {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
}
.brandNameWrap span {
  color: #F16D7F;
}

.brandName {
  border-left: 12px solid #F16D7F;
  padding-left: 15px;
}
.brandName div:first-child {
  font-size: 38px;
  font-weight: 900;
}
@media (min-width: 768px) {
  .brandName div:first-child {
    font-size: 44px;
  }
}
@media (min-width: 1200px) {
  .brandName div:first-child {
    font-size: 48px;
  }
}
.brandName div:last-child {
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .brandName div:last-child {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .brandName div:last-child {
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .brandWrap > div {
    width: 50%;
    height: inherit;
  }

  .brandModelPicture {
    display: flex;
    justify-content: center;
  }
  .brandModelPicture img {
    height: inherit;
    display: block;
  }
}
@media (min-width: 1200px) {
  .brandNameWrap {
    justify-content: flex-start;
  }

  .brandName {
    margin-left: 60px;
  }
}
.mainSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 245px) 110px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 32px;
  padding: 64px 16px;
}
@media (min-width: 768px) {
  .mainSection {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 168px 116px;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .mainSection {
    grid-template-rows: 260px 180px;
    gap: 30px;
  }
}

.mainSectionItem {
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  object-fit: cover;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  width: 100%;
  height: 100%;
}
.mainSectionItem h1 {
  display: block;
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainSectionItem div {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mainSectionItem-item1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/forWomenItem.png);
}

.mainSectionItem-item2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/forMenItem.png);
}

.mainSectionItem-item3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/forKidsItem.png);
}

.mainSectionItem-item4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/accessoriesItem.png);
}
@media (min-width: 768px) {
  .mainSectionItem-item4 {
    grid-column: 1/-1;
  }
}

.featuredWrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 101px repeat(6, 1fr);
  justify-items: center;
  margin: 16px 8px;
  gap: 16px;
}
@media (min-width: 768px) {
  .featuredWrap {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 1200px) {
  .featuredWrap {
    grid-template-columns: repeat(3, 1fr);
  }
}

.featuredTitleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .featuredTitleWrap {
    grid-column: 1/-1;
  }
}

.allProductsBtn {
  font-size: 16px;
  font-weight: 400;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: #FFF;
  padding: 15px 39px;
  margin-top: 40px;
  margin-bottom: 96px;
}
@media (min-width: 768px) {
  .allProductsBtn {
    grid-column: 1/-1;
    margin-top: 33px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .allProductsBtn {
    margin-top: 48px;
    margin-bottom: 95px;
  }
}

.featuredTitle {
  color: #222;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 3px;
}

.featuredSubtitle {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 65px;
}

.featuredItem {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #F8F8F8;
  margin-left: 8px;
  margin-right: 8px;
}

.featuredItemLink {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  margin-bottom: 25px;
}
.featuredItemLink img {
  width: 100%;
}

.featuredItemName {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 13px;
  padding-left: 18px;
  padding-right: 18px;
}

.featuredItemDescription {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 313px;
}

.featuredItemPrice {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
}

.advantageWrap {
  background: #222224;
  display: grid;
  justify-content: center;
  gap: 46px;
  padding: 48px 14px;
}
@media (min-width: 1200px) {
  .advantageWrap {
    grid-template-columns: repeat(3, 1fr);
    padding: 103px 230px;
  }
}

.advantageItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FBFBFB;
  text-align: center;
}
.advantageItem img {
  height: 33px;
  width: 45px;
  margin-bottom: 23px;
}

.advantageItemTitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.advantageItemDescription {
  color: #FBFBFB;
  font-size: 14px;
  font-weight: 300;
  margin-left: 14px;
  margin-right: 14px;
  max-width: 360px;
}
