@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.mainHeader {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
}
@media (min-width: 768px) {
  .mainHeader {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .mainHeader {
    padding-left: 231px;
    padding-right: 231px;
  }
}

.mainHeader i {
  color: #E8E8E8;
  font-size: x-large;
}

.logoOfCompany {
  margin-right: 41px;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .account {
    display: inline-block;
    margin-left: 25px;
    margin-right: 42px;
  }
}

.cartWrap {
  position: relative;
}
.cartWrap span {
  position: absolute;
  top: -5px;
  right: -5px;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  background-color: #F16D7F;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
}
@media (min-width: 768px) {
  .cartWrap {
    display: inline-block;
  }
}

.brandWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1E4E6;
  min-height: 363px;
}
@media (min-width: 768px) {
  .brandWrap {
    max-height: 368px;
  }
}
@media (min-width: 1200px) {
  .brandWrap {
    max-height: 764px;
  }
}

.brandNameWrap {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
}
.brandNameWrap span {
  color: #F16D7F;
}

.brandName {
  border-left: 12px solid #F16D7F;
  padding-left: 15px;
}
.brandName div:first-child {
  font-size: 38px;
  font-weight: 900;
}
@media (min-width: 768px) {
  .brandName div:first-child {
    font-size: 44px;
  }
}
@media (min-width: 1200px) {
  .brandName div:first-child {
    font-size: 48px;
  }
}
.brandName div:last-child {
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .brandName div:last-child {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .brandName div:last-child {
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .brandWrap > div {
    width: 50%;
  }

  .brandModelPicture {
    display: flex;
    justify-content: center;
  }
  .brandModelPicture img {
    display: block;
  }
}
@media (min-width: 1200px) {
  .brandNameWrap {
    justify-content: flex-start;
  }

  .brandName {
    margin-left: 60px;
  }
}
