@import "variables/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .mainHeader,
  .mainFooter {
    flex-shrink: 0;
  }

  .brandWrap,
  .mainSection,
  .featuredWrap,
  .advantageWrap,
  .subscribeWrap,
  .newArrivalsWrap,
  .shoppingCartWrap {
    flex-grow: 1;
  }
}

.mainHeader {
  background-color: $brandDarkColor;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    max-width: 1140px;
    margin: 16px 18px;

    @media (min-width: 768px) {
      margin: 18px 32px;
    }

    @media (min-width: 1600px) {
      margin: 18px auto;
      width: 1140px;
    }
  }
}

.burger-menu__nav {
  position: absolute;
  left: -100%;
  top: 73px;
  transition: left 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 15;

  background-color: #fff;
  box-shadow: 0 0 5px black;

  width: 100%;

  @media (min-width: 768px) {
    width: 232px;
    max-height: 639px;
    top: 77px;
    transition: left 0.5s;
  }
}

#burger-menu {
  position: absolute;
  left: -999999px;
  visibility: hidden;

  &:checked ~ .burger-menu__nav {
    left: 0;

    @media (min-width: 768px) {
      left: 70vw;
    }
  }
}

.burger-menu_li {
  list-style-type: none;
  margin: 1px auto 2px 12px;
}

.burger-menu__link {
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: $paddingNormal;

  &:hover {
    font-size: 15px;
    box-shadow: 0 0 5px $brandPinkColor;
  }
}

.burger-menu__list {
  margin-bottom: 20px;
}

.burger-menu__list-title {
  margin: 37px auto 24px 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.burger-menu__category {
  color: $brandPinkColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.burger-menu__close-label {
  position: absolute;
  top: 16px;
  right: 17px;
  transition-duration: $transitionDurationNormal;

  &:hover {
    transform: $transformForHoverNormal;
  }
}

.mainHeader-left {
  @include flexParams(flex, row, center, center);
}

.mainHeader i {
  color: $brandLightColor;
  font-size: x-large;
  transition-duration: $transitionDurationNormal;

  &:hover {
    transform: $transformForHoverNormal;
  }
}

.mainPageLink {
  text-decoration: none;
  transition-duration: $transitionDurationNormal;

  &:hover {
    transform: $transformForHoverNormal;
  }
}

.logoOfCompany {
  margin-right: 41px;
}

.hidden {
  display: none;
}

.account {
  @media (min-width: 768px) {
    display: inline-block;
    margin-left: 25px;
    margin-right: 42px;
  }
}

.cartWrap {
  position: relative;

  span {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    background-color: $brandPinkColor;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
  }

  @media (min-width: 768px) {
    display: inline-block;
  }
}

.brandWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e4e6;
  height: 363px;
  //margin-bottom: 64px;

  @media (min-width: 768px) {
    height: 368px;
    margin-bottom: 65px;
  }

  @media (min-width: 1600px) {
    height: 764px;
  }
}

.brandNameWrap {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;

  span {
    color: $brandPinkColor;
  }
}

.brandName {
  border-left: 12px solid $brandPinkColor;
  padding-left: 15px;

  div:first-child {
    font-size: 38px;
    font-weight: 900;

    @media (min-width: 768px) {
      font-size: 44px;
    }

    @media (min-width: 1600px) {
      font-size: 48px;
    }
  }

  div:last-child {
    font-size: 20px;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 24px;
    }

    @media (min-width: 1600px) {
      font-size: 32px;
    }
  }
}

@media (min-width: 768px) {
  .brandWrap > div {
    width: 50%;
    height: inherit;
  }

  .brandModelPicture {
    display: flex;
    justify-content: center;

    @media (min-width: 1600px) {
      justify-content: flex-end;
    }

    img {
      height: inherit;
      display: block;
    }
  }
}

@media (min-width: 1600px) {
  .brandNameWrap {
    justify-content: flex-start;
  }

  .brandName {
    margin-left: 60px;
  }
}

.mainSection .container {
  margin: 0 auto;
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 245px) 110px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 32px;
  padding: 64px 16px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 168px 116px;
    gap: 20px;
  }

  @media (min-width: 1600px) {
    width: 1140px;
    grid-template-rows: 260px 180px;
    gap: 30px;
  }
}

.mainSectionItem {
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  object-fit: cover;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition-duration: $transitionDurationNormal;

  &:hover {
    transform: $transformForHoverNormal;
  }

  h1 {
    display: block;
    color: $brandPinkColor;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  div {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.mainSectionItem-item1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(../images/forWomenItem.png);
}

.mainSectionItem-item2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(../images/forMenItem.png);
}

.mainSectionItem-item3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(../images/forKidsItem.png);
}

.mainSectionItem-item4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(../images/accessoriesItem.png);

  @media (min-width: 768px) {
    grid-column: 1/-1;
  }
}

.featuredWrap .container {
  max-width: 1140px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 16px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @media (min-width: 1150px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.featuredTitleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  @media (max-width: 400px) {
    width: 288px;
  }

  @media (min-width: 768px) {
    grid-column: 1/-1;
  }
}

.allProductsBtn {
  font-size: 16px;
  font-weight: 400;
  color: $brandPinkColor;
  border: 1px solid $brandPinkColor;
  background: #fff;
  padding: 15px 39px;
  margin: 40px auto 96px;
  text-decoration: none;

  @media (min-width: 768px) {
    grid-column: 1/-1;
    margin-top: 33px;
    margin-bottom: 65px;
  }

  @media (min-width: 1600px) {
    margin-top: 48px;
    margin-bottom: 95px;
  }

  &:hover {
    box-shadow: 0 0 8px $brandPinkColor;
  }
}

.featuredTitle {
  color: $brandDarkColor;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 3px;
}

.featuredSubtitle {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 65px;
}

.featuredItem {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #f8f8f8;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  position: relative;
  transition-duration: $transitionDurationNormal;

  &:hover {
    transform: $transformForHoverNormal;
  }

  @media (max-width: 400px) {
    width: 288px;
  }

  &:hover .btnAddToCartWrap {
    display: flex;
  }

  &:hover .featuredItemLink {
    filter: brightness(50%);
  }
}

.featuredItem:nth-child(odd) {
  @media (min-width: 768px) and (max-width: 1599px) {
    margin-left: 0;
    margin-right: auto;
  }
}

.featuredItem:nth-child(even) {
  @media (min-width: 768px) and (max-width: 1599px) {
    margin-left: auto;
    margin-right: 0;
  }
}

.featuredItemLink {
  display: block;
  max-height: 420px;
  width: 100%;
  text-decoration: none;
  margin-bottom: 25px;

  img {
    height: 100%;
    display: block;

    @media (max-width: 400px) {
      width: 288px;
    }
  }
}

.btnAddToCartWrap {
  display: none;
  position: absolute;
  pointer-events: none;
  width: 100%;
  left: calc(50% - 69px);
  top: 150px;

  @media (min-width: 400px) {
    top: 188px;
  }
}

.btnAddToCartLink {
  display: flex;
  position: absolute;
}

.btnAddToCart {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border: 1px solid #fff;
  width: 138px;
  height: 44px;
  background: none;
  pointer-events: all;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 8px #fff;
  }
}

.btnAddToCart__icon {
  margin-right: 11px;
}

.btnAddToCart__call {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.featuredItemName {
  color: $brandDarkColor;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 13px;
  padding-left: 18px;
  padding-right: 18px;
}

.featuredItemDescription {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 313px;
}

.featuredItemPrice {
  color: $brandPinkColor;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
}

.advantageWrap {
  background: #222224;

  .container {
    max-width: 1140px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 46px;
    padding: 48px 14px;

    @media (min-width: 1600px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.advantageItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fbfbfb;
  text-align: center;

  img {
    height: 33px;
    width: 45px;
    margin-bottom: 23px;
  }
}

.advantageItemTitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.advantageItemDescription {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  margin-left: 14px;
  margin-right: 14px;
  max-width: 360px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1599px) {
    width: 100%;
  }

  @media (min-width: 1600px) {
    .container {
      width: 1140px;
      margin: 0 auto;
    }
  }
}

.subscribeWrap {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(244, 244, 244, 0.7)),
    url(../images/subscribeBackground.png) no-repeat;
  background-size: cover;

  .container {
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;

    @media (min-width: 1600px) {
      width: 1140px;
      height: 448px;
      margin: 0 auto;
      flex-direction: row;
    }

    .subscribeFeedback {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .subscribeForm {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 92px;
      height: 92px;
      margin-top: 64px;
      margin-bottom: 30px;
    }

    .subscribeTitle {
      color: #222224;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 153.2%;
    }

    .subscribeSubtitle {
      color: #222224;
      font-size: 14px;
      font-weight: 400;
      line-height: 153.2%;
      margin-bottom: 22px;
    }
  }

  .subscribePhotoDescription {
    text-align: center;
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 59px;
    max-width: 360px;

    span {
      font-style: italic;
    }
  }
}

.subscribeInput {
  height: 47px;
  color: #222224;
  background: #e1e1e1;
  opacity: 0.671;
  font-size: 14px;
  font-weight: 400;
  padding-left: 21px;
  float: left;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 110px;

  @media (min-width: 1600px) {
    margin-bottom: 0;
  }
}

.subscribeButton {
  border: 0;
  float: left;
  height: 47px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: $brandPinkColor;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 7px;

  &:hover {
    box-shadow: 0 0 8px $brandPinkColor;
  }
}

.mainFooter {
  background: #222224;

  .container {
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row-reverse;
      padding-left: 32px;
      padding-right: 32px;
    }

    @media (min-width: 1600px) {
      padding-left: 0;
      padding-right: 0;
      width: 1140px;
      margin: 0 auto;
    }
  }

  .socialLink {
    color: #000;
    height: 32px;
    width: 32px;
    padding: 9px;
    margin: 40px 7px;
    background: #fff;
    transition-duration: $transitionDurationNormal;

    &:hover {
      transform: $transformForHoverNormal;
      background-color: $brandPinkColor;
      color: white;
    }
  }
}

.copyInfo {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 9px;
}

.newArrivalsWrap {
  height: 148px;
  background-color: #f8f3f4;

  @media (min-width: 768px) {
    @include flexParams(flex, row, center, center);
  }

  .container {
    @include flexParams(flex, column, center, center);
    max-width: 1140px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 16px;
      padding-right: 16px;
    }

    @media (min-width: 1600px) {
      width: 1140px;
    }
  }

  a {
    text-decoration: none;
    display: block;
  }
}

.newArrivalsHeader {
  color: $brandPinkColor;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 24px auto 32px;
  display: block;

  @media (min-width: 768px) {
    margin: 0px;
  }
}

.newArrivalsWrap-nav__menu__ul {
  list-style-type: none;
  margin-bottom: 46px;
  width: 100%;

  @include flexParams(flex, row, center, center);

  @media (min-width: 768px) {
    margin: 0;
  }
}

.newArrivalsWrap-nav__menu__li a {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding: 5px 2px;
}

.newArrivalsWrap-nav__menu__li:last-child a {
  color: $brandPinkColor;
}

.newArrivalsWrap-nav__menu__ul li:not(:last-child) a::after {
  content: " /";
}

.catalogPage__featuredWrap .container {
  display: grid;
  gap: 16px;
  grid-template-rows: 81px repeat(8, 1fr);
  grid-template-columns: 1fr;
  margin: 24px auto 32px;

  @media (min-width: 768px) {
    grid-template-rows: 81px repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;

    .catalogPage__featuredWrap_filters {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  @media (min-width: 1600px) {
    grid-template-rows: 81px repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .featuredItem {
    width: min-content;

    @media (min-width: 768px) {
      margin: 0 auto;
    }
  }

  .featuredItem:nth-child(4) {
    display: none;

    @media (min-width: 1600px) {
      display: flex;
    }
  }
}

.catalogPage__featuredWrap_filters {
  position: relative;

  @include flexParams(flex, row, space-between, center);
}

.catalogPage__featuredWrap_filters_mainFilterButton {
  background: none;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;

  span {
    display: none;

    @media (min-width: 768px) {
      display: inline;
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-right: 11px;
    }
  }
}

// .catalogPage__featuredWrap_filters_keyFilters button {
//   background: none;
//   border: none;
//   padding: $paddingNormal;
//   padding-right: 8px;
//   margin-right: 23px;

//   span {
//     padding-right: 5px;
//     color: #6f6e6e;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//     font-size: 9px;

//     @media (min-width: 350px) {
//       font-size: 12px;
//       padding-right: 9px;
//     }

//     @media (min-width: 768px) {
//       font-size: 14px;
//     }
//   }
// }

//  .catalogPage__featuredWrap_filters_keyFilters button {
//    margin-right: 0;
//  }

// filter
.filter {
  //width: 360px;
  position: absolute;
  top: 0;
  //height: 132px;
  z-index: 5;
  padding-bottom: 0;

  &[open] {
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
}

.filter .filter-summary__main-header {
  @media (max-width: 767px) {
    width: 15px;
    height: 10px;
  }
}

.filter[open] .filter-summary {
  .filter-summary__main-header {
    color: $brandPinkColor;
  }

  .filter-summary__svg {
    fill: $brandPinkColor;
  }
}

.filter-summary {
  display: flex;
  padding: 0 255px 16px 0;
  align-items: center;

  @media (max-width: 767px) {
    padding-right: 125px;
  }
}

.filter-summary::-webkit-details-marker {
  display: none;
}

.filter-summary [open] {
  color: $brandPinkColor;
}

.filter-item__header {
  padding-left: 11px;
  border-left: 5px solid $brandGreyColor;
  border-bottom: 1px solid #ebebeb;
  margin-left: 17px;
  margin-bottom: 18px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $brandGreyColor;
}

.filter-item {
  // margin-top: 24px;
  // margin-bottom: 18px;

  &[open] .filter-item__header {
    color: $brandPinkColor;
    border-left-color: $brandPinkColor;
  }
}

.filter-item [open] .filter-item__header {
  color: $brandPinkColor;
  border-left-color: $brandPinkColor;
}

.filter-item__header {
  display: flex;
  align-items: center;
  height: 37px;
  text-transform: uppercase;
}

.filter-item__header::-webkit-details-marker {
  display: none;
}

.filter-item__list {
  list-style-type: none;
  //padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 34px;

  li {
    padding-bottom: 11px;
    a {
      text-decoration: none;
      color: #6f6e6e;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (max-width: 767px) {
        font-size: 12px;
      }

      &:hover {
        color: $brandPinkColor; //НЕ РАБОТАЕТ, ПОЧИНИТЬ БЫ
      }
    }
  }

  li:first-child {
    padding-top: 0;
  }

  li:last-child {
    padding-bottom: 0;
  }
}

//.filter_rightPosition {
//right: 0;
//top: 73px;

// @media (min-width: 768px) {
//   top: 78px;
// }
//}

//checkbox
.catalogPage__featuredWrap_filters_keyFilters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.checkbox-item {
  position: relative;
  margin-left: 27px;
  margin-right: 27px;
}

.checkbox-item__label-wrap {
  position: absolute;
  padding: $paddingNormal;
  top: 25px;
  right: 7px;
  display: none;
  flex-direction: column;
  z-index: 10;
  background: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 7px 30px 5px 9px;
  width: max-content;

  input {
    margin: 0 9px 9px 0;
    color: #6f6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.key-filter-wrap {
  display: flex;
  align-items: center;
  position: relative;
  background: none;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.key-filter-wrap:hover .checkbox-item__label-wrap {
  display: flex;
}

//pagination
.pagination {
  display: flex;
  width: max-content;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 48px auto 96px;
  padding: 12px 16px 12px 16px;

  & li {
    list-style-type: none;
    display: inline;
  }

  & li:not(:last-child) {
    margin: 0 15px 0 0;
  }

  & li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4;
  }

  & li a.active {
    color: $brandPinkColor;
  }

  & li > a:hover {
    color: $brandPinkColor;
  }

  &__icon {
    color: $brandDarkColor;

    &:hover {
      color: $brandPinkColor;
    }
  }
}

.center {
  padding-left: calc(50% -$widthSite/2);
  padding-right: calc(50% -$widthSite/2);
}

.productPage__featuredWrap .container {
  display: grid;
  gap: 16px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin: 24px auto 32px;

  @media (min-width: 768px) {
    margin-bottom: 128px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    .catalogPage__featuredWrap_filters {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  @media (min-width: 1600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .featuredItem:last-child {
    @media (max-width: 1599px) {
      display: none;
    }
  }
}

.productPage__featuredWrap_main-image-wrap {
  position: relative;
  background-color: #f7f7f7;
  padding-top: 85px;
  padding-bottom: 85px;
  margin-bottom: 40px;
}

.productPage__featuredWrap_main-image {
  display: block;
  margin: 0 auto;
  width: 320px;

  @media (min-width: 768px) {
    width: 466px;
  }

  @media (min-width: 1600px) {
    width: 597px;
  }
}

.button-arrow-left,
.button-arrow-right {
  position: absolute;
  top: calc(50% - 47px / 2);
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
  padding: 8px;

  &:hover {
    color: $brandPinkColor;
  }
}

.button-arrow-left {
  left: 0;
}

.button-arrow-right {
  right: 0;
}

.productPage__featuredWrap .productPage_main-product-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  @media (min-width: 768px) {
    grid-column: 1/-1;
  }

  @media (min-width: 1600px) {
    grid-column: 1/-1;
    transform: translateY(-93px);
    z-index: 10;
    background-color: white;
    border-left: 1px solid #eaeaea;
    margin-left: 8px;
    margin-right: 8px;
    width: 1141px;
    border-right: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
  }

  .productPage_main-product-section {
    color: $brandPinkColor;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 12px;
    padding-top: 65px;
  }

  .productPage_main-product-decorative-block {
    background-color: $brandPinkColor;
    height: 3px;
    width: 63px;
    margin-bottom: 12px;
  }

  .productPage_main-product-name {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 32px;
  }

  .productPage_main-product-description {
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 32px;
    max-width: 326px;
  }

  .productPage_main-product-price {
    color: $brandPinkColor;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 16px;
  }
}

.productPage__sort-section {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 48px;

  @media (min-width: 1600px) {
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin-left: 8px;
    margin-right: 8px;
    transform: translateY(-110px);
  }

  & > svg {
    margin-bottom: 49px;
  }
}

.productPage__sort {
  margin-left: 8px;
  margin-bottom: 64px;

  .key-filter-wrap {
    width: max-content;
    font-size: 10px;
  }
}

.btnAddToCart_active {
  position: static;
  display: flex;
  background-color: white;
  border: 1px solid $brandPinkColor;
  padding-left: 24px;
  padding-right: 57px;
  width: max-content;

  &:hover {
    box-shadow: 0px 5px 10px 0px $brandPinkColor;
  }

  .btnAddToCart__icon path {
    fill: $brandPinkColor;
  }
  .btnAddToCart__call {
    color: $brandPinkColor;
  }
}

.checkbox-item__label-wrap_product-page {
  top: 20px;
  right: 30px;
}

.shoppingCartWrap .container {
  flex-direction: column;
  padding-top: 39px;

  @media (min-width: 768px) {
    padding-top: 59px;
  }

  @media (min-width: 1600px) {
    align-items: flex-start;
  }

  @media (min-width: 1600px) {
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    padding-top: 96px;
  }
}

.userShoppingList {
  display: grid;
  gap: 32px;
  width: 94%;
  margin: 0 auto 30px;

  @media (min-width: 768px) {
    gap: 40px;
    margin-bottom: 62px;
  }

  @media (min-width: 1600px) {
    margin-bottom: 72px;
  }
}

.userChoiсeItemWrap {
  display: flex;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  height: 188px;

  @media (min-width: 768px) {
    height: 306px;
  }
}

.userChoiсeImage {
  width: 40%;
  display: block;
}

.userChoiсeItemDescription {
  width: 60%;
  padding-top: 14px;
  padding-left: 16px;
  color: #575757;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: 22px;
  }
}

.userChoiсeName {
  text-decoration: none;
  color: $brandDarkColor;
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.userChoiсePrice {
  margin-top: 26px;
}

.userChoiсePrice,
.userChoiсeColor,
.userChoiсeSize,
.userChoiсeQuantity {
  display: flex;
  margin-bottom: 3px;
}

.userChoiсePrice div:first-child,
.userChoiсeColor div:first-child,
.userChoiсeSize div:first-child {
  margin-right: 3px;
}

.userChoiсePrice div:last-child {
  color: $brandPinkColor;
}

.userChoiсeQuantity {
  div:first-child {
    padding-right: 10px;
    margin-right: 15px;
  }

  .itemQuality {
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
    padding: 0 9px;
    color: #656565;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.toCloseButton {
  padding: $paddingNormal;
  margin: 12px 10px auto 27px;
  transition-duration: $transitionDurationNormal;

  &:hover {
    transform: $transformForHoverNormal;
  }
}

.shoppingCartButtonsWrap {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: 0 auto 48px;
}

.shoppingCartButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: 1px solid #a4a4a4;
  padding: 10px 18px;
  width: 140px;
  color: #575757;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;

  @media (min-width: 768px) {
    font-size: 14px;
    padding: 17px 40px;
    width: 225px;
  }

  &:hover {
    box-shadow: 0 0 8px #a4a4a4;
  }
}

.shoppingCartWrap__shippingInfoWrap {
  width: 94%;
  margin: 0 auto 96px;

  @media (min-width: 768px) and (max-width: 1599px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1600px) {
    width: 50%;
  }
}

.shoppingCartWrap__shippingInfo {
  margin-bottom: 48px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1600px) {
    margin-left: 128px;
    margin-bottom: 57px;
  }

  h2 {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 21px;
  }

  button {
    border: 1px solid #a4a4a4;
    background: none;
    color: #575757;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 11px 21px;

    &:hover {
      box-shadow: 0 0 8px #a4a4a4;
    }
  }
}

.shippingInfoInput {
  width: 94%;
  border: 1px solid #a4a4a4;
  height: 44px;
  margin-bottom: 20px;
  padding-left: 17px;
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.shoppingCartWrap__totalInfoWrap {
  background-color: #f5f3f3;
  padding-top: 39px;
  padding-bottom: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) and (max-width: 1599px) {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
  }

  @media (min-width: 1600px) {
    margin-left: 128px;
  }
}

.fullTotalInfoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 273px;
}

.subtotalWrap,
.grandTotalWrap {
  display: flex;
  color: #4a4a4a;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtotalWrap div:first-child,
.grandTotalWrap div:first-child {
  margin-right: 5px;
}

.grandTotalWrap div:last-child {
  color: $brandPinkColor;
  font-weight: 700;
}

.subtotalWrap {
  margin-bottom: 12px;
}

.grandTotalWrap {
  padding-bottom: 21px;
  font-size: 16px;
  font-weight: 300;
}

.checkoutButtonWrap {
  border-top: 1px solid #e2e2e2;
}

.checkoutButton {
  margin-top: 17px;
  color: #fff;
  background-color: $brandPinkColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 16px 30px;
  border: none;
  white-space: nowrap;
  width: 273px;

  &:hover {
    box-shadow: 0 0 8px $brandPinkColor;
  }
}

.registration-wrap .container {
  padding: 40px 9px 96px;
  max-width: 1140px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }

  @media (min-width: 768px) and (min-width: 1599px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.registration-wrap__user-info-wrap {
  width: 100%;

  @media (min-width: 768px) {
    margin-right: 22px;
  }

  @media (min-width: 1600px) {
    margin-right: 128px;
  }
}

.registration-wrap__header {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}

.registration-wrap__input {
  border: 1px solid #a4a4a4;
  background: none;
  max-width: 360px;
}

.registration-wrap__input_text,
.registration-wrap__input_email,
.registration-wrap__input_password {
  color: #b1b1b1;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 13px;
  padding-left: 17px;
  padding-bottom: 16px;
  margin-bottom: 20px;
  width: 100%;
}

.registration-wrap__radio-wrap {
  display: flex;
  margin-top: 11px;
  margin-bottom: 34px;
}

.registration-wrap__input_radio {
  margin-right: 10px;
}
.registration-wrap__radio-hint {
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 20px;
}

.registration-wrap__input_email {
}
.registration-wrap__input_password {
}

.registration-wrap__password-hint {
  color: #b1b1b1;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 39px;
}

.registration-wrap__button-join-now {
  display: flex;
  padding: 17px 29px;
  background-color: $brandPinkColor;
  border: 1px solid $brandPinkColor;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover {
    box-shadow: 0 0 8px $brandPinkColor;
  }

  div:first-child {
    margin-right: 20px;
  }

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.registration-wrap__loyalty-info {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 22px;
}

.registration-wrap__loyalty-item-wrap {
  display: flex;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  div:not(:last-child) {
    margin-bottom: 16px;
  }

  div:first-child {
    margin-right: 23px;
  }
}
